<footer>
    <!-- <span>English(IN)</span>
    <span>&#8377; INR</span> -->
    <div class="f-info">
    <div class="f-info-socials">
      
     
        <a href="https://www.facebook.com/groups/714165821956475/"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://x.com/HotelsLink"><i class="fa-brands fa-twitter"></i></a>
        <a href="https://www.instagram.com/hotel/"><i class="fa-brands fa-square-instagram"></i></a>
    </div>
    <div class="fa-info-brand"><p>&#169;2024,Airbnb,Inc</p></div>
    <div class="f-info-links">
        <a href="https://termly.io/resources/articles/privacy-policy-for-hotel-websites/">Privacy</a>
        <a href="https://www.socialtables.com/blog/hospitality/hotel-terms-dictionary/">Term</a>
        <a href="https://loyaltyrewardco.com/earn-stamps-and-status-with-hotels-com-rewards/">Stamp</a>
        <a href="https://en.wikipedia.org/wiki/Indian_Hotels_Company_Limited">Company details</a>
    </div>
</div>




</footer>